{% extends "home/index.html" %}
{% block content %}
<div class="flex-row">
    <div class="flex-column">
        <h2 class="flex-row div-padding">Cadastro</h2>
        <form 
        method="POST" 
        class="flex-column div-padding" 
        action="{% url 'home:cadastro' %}" 
        enctype="multipart/form-data"
        >
            {% csrf_token %}
            {% for field in form %}
               <label for="{{ field.id_for_label }}" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">
                        {{ field.label }}
                    </p>
                    {{ field }}
                </label>
                <div class="field-help">
                    <ul>
                    {% for help in field.help_text %}
                       <li>{{help}}
                    {% endfor %}
                    </ul>
                </div>
                <div class="field-error">
                    {{field.errors}}
                </div>
            {% endfor %}
            <div class="flex-row-space-around item-padding">
                <input type="submit" value="Cadastrar" class="btn-send">
                <input type="reset" value="resetar" class="btn-send">
            </div>
        </form>
        
    </div>
</div>
{% endblock content %}
{% block aside %}
<div class="flex-column">    
    <h2 class="div-padding text-center italic">
        Informativos
    </h2>
    <p class="div-padding text-center italic">
        Aqui você realiza o seu cadastro
    </p>
    <p class="div-padding text-center italic">
        É de extrema importância que você ponha dados atualizados
    </p>
    <p class="div-padding text-center italic">
        Sua matrícula é inserida pelo monitor, os dados que devem ser cadastrados são somente esse ao lado
    </p>
    <p class="div-padding text-center italic">anote sua senha, e verifique seu email</p>
    <p class="div-padding text-center italic">
        Ao cadastrar-se, você concorda em divulgar seu nome na aba pública de monitorias marcadas, assim como a sua matricula. Caso não concorde com esses termos, não realiza a sua inscrição.
    </p>
</div>
{% endblock aside %}

