<!DOCTYPE html>
<html lang="pt-br">
    {% include "home/partials/head.html" %}
<body>
    {% include "home/partials/header.html" %}
    {% include "home/partials/menu.html" %}
    <main class="flex-row">
        <section class="conteiner item-padding">
            <article class="content div-padding">
                {% block content %}{% endblock content %}
            </article>
            <div class="div-padding">
                {% include "home/partials/aside.html" %}
            </div>
        </section>
    </main>
    {% include "home/partials/footer.html" %}
</body>
</html>