{% extends "home/index.html" %}
{% block content %}
    <div class="flex-row">
        <div class="flex-column">
            <h2 class="flex-row div-padding">UPDATE</h2>
            <form method="POST" class="flex-column div-padding" action="">
                {% csrf_token %}
                <label for="primeiro-nome" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">Primeiro Nome:</p>
                    <input type="text" id="primeiro-nome" name="primeiro-nome" class="form-cadastro">
                </label><br>
                <label for="ultimo-nome" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">Último Nome:</p>
                    <input type="text" id="ultimo-nome" name="ultimo-nome" class="form-cadastro">
                </label>
                <br>
                <label for="email" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">E-mail:</p>
                    <input type="email" id="email" name="email" class="form-cadastro">
                </label><br>
                <label for="senha" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">Senha:</p>
                    <input type="password" id="senha" name="senha" class="form-cadastro">
                </label><br>
                <label for="confirmar_senha" class="flex-row-space-between item-padding">
                    <p class="legend-cadastro">Confirmar Senha:</p>
                    <input type="password" id="confirmar_senha" name="confirmar_senha" class="form-cadastro">
                </label><br>
                <div class="flex-row-space-around item-padding">
                    <input type="submit" value="Cadastrar" class="btn-send">
                    <input type="reset" value="Limpar" class="btn-send">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block aside %}
<div class="flex-column">    
    <h2 class="div-padding text-center italic">
        Informativos
    </h2>
    <p class="div-padding text-center italic">Aqui você atualiza o seu cadastro</p>
    <p class="div-padding text-center italic">É de extrema importância que você atualize os seus dados de imediato</p>
    <p class="div-padding text-center italic">Sua matrícula é inserida pelo monitor, os dados que podem ser alterados são somente esse ao lado</p>
    <p class="div-padding text-center italic">Não é necessário realizar um cadastro, mas algumas informações são de responsabilidade do usuário</p>
</div>
{% endblock aside %}

