{% load static %}
<aside class="info div-padding">
    <div class="div-logo flex-row ">
        <a href="#" target="_blank"><img src="{% static 'home/images/logomarca-uerj.png' %}" alt="logo da uerj" class='logo'></a>
    </div>
    <div class="monitoria">
        <form action="" class=" div-padding flex-column">
            {% csrf_token %}
            <label for="matricula" class="flex-column item-padding">
                <p class="legend">Matricula</p>
                <input type="text" name="matricula" id="matricula" required autocomplete="off" class="form">
            </label>
            <label for="password" class="item-padding flex-column">
                <p class="legend">Senha:</p>
                <input type="password" name="password" id="password" class="form">
            </label>
            <!--<label  for="duvidas" class="duvidas item-padding flex-column"><p class="legend">Observações:</p>  
                <textarea name="duvidas" placeholder="Os temas das suas dúvidas aqui" id="duvidas" cols="30" rows="10" maxlength="255"class='item-padding'></textarea>
            </label>-->
            <div class="item-padding flex-row-space-around">
                <input type="submit" value="Login" class="btn-send">
            </div>
        </form>
    </div>
</aside>