{% load static %}
<footer class="rodape flex-row item-padding">
    <a href="https://github.com/DanielBrown1998/MON_UERJ_PROJECT" class="a-rodape" target="_blanck" rel="noopener">
        <img src="{% static 'home/images/minha_imagem.jpg' %}" alt="imagem do autor" class="img-rodape"> 
        Daniel Brown
    </a>
    <a href="https://www.cetreina.uerj.br/" class="a-rodape" target="_blank" rel="noopener">
        <img src='{% static "home/images/images.png" %}' alt="cetreina UERJ" class="img-rodape"> 
        Cetreina
    </a>
</footer>